html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: black;
}

body {
  background: #4e4b4b;
}

.panel {
  position: absolute;
  width: 100%;
}

#home {
  left: 0;
  top: 5%;
  text-align: left;
}

#camControl {
  left: 0;
  bottom: 1%;
  text-align: right;
}

.btn:hover {
  color: orange;
}
